.footer-bottom {
    text-align: center;
    padding: 50px;
    background-color: #222;
    border-top: 1px solid #444;
    color: #bbb;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-section {
        margin: 20px 0;
    }
}
